# VSCode settings
.vscode/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
compile_commands.json
Makefile

# Build directory
build/

# Qt Creator
*.user
*.user.*

# Visual Studio
.vs/
*.VC.db
*.VC.VC.opendb
*.VC.VC.db
*.sln
*.vcxproj.*
*.filters
*.suo
*.opensdf
*.sdf
*.db

# CLion
.idea/
cmake-build-*/

# Other
.DS_Store
Thumbs.db
